body {
    background-image: url('../images/bg.jpg');
    /* background-color: black !important; */
    background-size: cover;
    /* Ensures the background image covers the entire body */
    background-attachment: fixed;

}
